body, h1, h2, h3, h4, h5, li, p{
    margin: 0px;
    padding: 0px;
    color: white;
}

form {
    background-color: rgb(58, 58, 58);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 60vh;
    height: auto;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 20px;
}

form h1 {
    margin-bottom: 20px;
    font-size: 60px;
}

form h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    gap: 1rem;
    justify-content: center;
    
}

.sect1 {
    text-align: center;
    margin-bottom: 10px;

}

.sect1 p {
    font-size: 20px;
}

.sect1 input {
    height: 1rem;
    margin: 2px;
}

.sect1 p {
    margin: 2px;
}


.gender {
    margin-bottom: 1rem;
}
.gensec {
    display: flex;
    justify-content: center;
    gap: 10px;

    
}